:root {
  --purple: rgb(125, 91, 190);
  --purple-faded: rgba(125, 91, 190, .5);
  --gray: rgb(57, 57, 57);
  --dark-gray: rgb(27, 27, 27);
  --black: rgb(15, 14 ,17);
  --border-radius: 3px;
}

.grid {
  display: grid;
}

.App {
  min-height: 100vh;
  min-width: 100vh;
  text-align: center;
}

.TwitchLite {
  min-height: 100vh;
  grid-template-columns: 1fr 270px;
  grid-template-rows: 1fr;
}
.TwitchLite > div {
  height: 100%;
  min-height: 100%;
  width: 100%;

}
.TwitchLite iframe {
  width: 100%;
  height: 100vh;
}
.TwitchLite.hide-chat {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.TwitchLite.hide-chat .chatPanel{
  display: none;
}


.playerPanel {
  position: relative;
}
.playerPanel:hover > .hideChatToggle {
  display: block;
}
.hideChatToggle {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 0;
  background-color: var(--black);
  border-radius: var(--border-radius);
  color: gray;
  padding: 3px 5px 5px 8px;
  border: 1px solid var(--black);
}
.hideChatToggle:hover {
  color: whitesmoke;
  border: 1px solid var(--purple);
  border-right-color: var(--black);
}

.chatPanel {
  position: relative;
  display: grid;
}

.StreamSelector {
  position: absolute;
  width: 100%;
  background-color: var(--black);
  color: #AAA;
  padding: 5px 0;
  border-bottom: 1px solid var(--purple-faded);
}
.StreamSelector > .favourites {
  max-height: 16em;
  overflow: hidden auto;
  text-align: left;
  margin-top: 5px;
  padding: 5px;
  border-top: 1px solid var(--purple-faded);
}
.StreamSelector > .favourites > small {
  padding: 0 5px;
}
.StreamSelector > .favourites > ul > li {
  padding: 0 0 2px 0;
}
.StreamSelector > .favourites > ul > li:hover {
  background-color: var(--dark-gray);
}
.StreamSelector > .favourites > ul > li > .stream {
  padding: 0 5px 2px 5px;
  cursor: pointer;
  color: whitesmoke;
}
.StreamSelector > .favourites > ul > li > .stream:hover {
  background-color: var(--purple);
}
.StreamSelector > .favourites > ul > li > button {
  display: none;
  float: right;
  font-size: 12px;
  margin: 3px 0;
}
.StreamSelector > .favourites > ul > li:hover > button {
  display: inline-block;
}

.StreamSelector button {
  background-color: var(--purple);
  color: whitesmoke;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 1px 5px;
  margin-left: 2px;
  cursor: pointer;
}
.StreamSelector > button.open {
  transform: rotate(180deg);
  text-align: center;
}
button,
.StreamSelector > .favourites > ul > li > .stream {
  border-radius: var(--border-radius);
}


.StreamSelector > .streamInputContainer {
  background-color: #000;
  color: #AAA;
  padding: 0 2px;
  margin-right: 5px;
  border: 1px solid var(--gray);

  margin-left: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.streamInputContainer > input[type='text'] {
  background-color: transparent;
  color: #AAA;
  border: none;
  padding: 2px 3px;
  width: 150px;
}
.streamInputContainer > button {
  padding: 0 2px;
  font-size: 12px;
}


.ViewerCount > .circle {
  display: none;
  padding: 0 3px 0 10px;
}
.ViewerCount > .circle.live {
  display: inline-block;
}
.ViewerCount > .circle.live > svg > circle {
  fill:firebrick;
}
.ViewerCount > .count {
  color: rgb(154, 154, 154);
  font-size: 14px;
}


@media (orientation: portrait) {
  html, body {
      overflow: auto;
  }
  body {
    min-height: 100vh;
  }
  .TwitchLite {
    grid-template-rows: 220px 1fr;
    grid-template-columns: 1fr;
  }
  .TwitchPlayer > iframe {
    min-height: initial;
    max-height: 100%;
    height: 220px;
  }
  .chatPanel > .TwitchChat > iframe {
    height: 400px;
  }
  .App, .TwitchLite, .chatPanel {
    min-width: auto;
    min-height: auto;
  }
  .hideChatToggle {
    display: none;
  }
}
